.navbar {
  position: fixed;
  height: 50px;
  width: 80vw;
  left: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-avatar {
    margin-right: 0px;
  }
  .ant-row-rtl .ant-avatar {
    margin-right: 0;
    margin-left: 15px;
  }
  .logo {
    position: absolute;
    width: auto;
    height: 70%;
    left: 10px;
  }
  .search-bar {
    position: relative;
    left: 5%;
    width: 50vw;
    max-height: 50px;
  }
  .profile {
    position: absolute;
    right: 10px;
  }
}
