@import '../../styles/base.less';

.Dashboard {
  
  .backdrop-wrapper {
    width: 100vw;
     img {
       width: 100%;
     }
  }
  .purchase-cards {
    margin-bottom: 2rem;
  }

  .host-cards, .purchase-cards {
    display:flex;
    .Card {
      margin-right: 2rem; 
    }
    .plus-card {
      box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.09);
      border-radius: 20px;
      width: 300px;
      height: 425px;
      text-align: center;
      .text {
        color: rgba(0,0,0,0.25);
        font-size: 18px;
        font-weight: 600;
      }
      .plus {
        margin-top: calc(50% - 50px);
        text-align: center;
        font-size: 100px;
        color: rgba(0,0,0,0.25);
      }
    }
  }
  
  .header {
    font-weight: 600;
  }
  .container {
    padding: 4rem;
    > h1 {
      font-size: 40px;
      margin-bottom: 2rem;
    }
  }
}
